<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meari.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.MeariApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.BuyCloudServiceActivity"/>
        <activity android:name=".user.CloudStatusActivity" />
        <activity android:name=".device.DeviceCloudPlayActivity" />
        <activity android:name=".device.DeviceMonitorActivity" />
        <activity android:name=".device.DeviceSettingActivity" />
        <activity android:name=".device.AddDeviceActivity" />
        <activity android:name=".device.DeviceListActivity" />
        <activity android:name=".user.RegisterActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="MEARI_APPKEY"
            android:value="8a48b2105058489aba0c08b79325ef3f" />
        <meta-data
            android:name="MEARI_SECRET"
            android:value="f6c33593133c44f98372f67213568411" />

        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:priority="1000" />
    </application>

</manifest>