<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meari.test">

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MeariSmartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_meari_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".PreviewActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateVisible" />
        <activity
            android:name=".RegionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".PasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".EditNicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ChangeHeadIconActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ShareFriendDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AddDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCameraMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".APHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WifiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchCameraResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NvrAddMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNvrResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".APModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceForceVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormatSDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MotionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NvrRemoveCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PIRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BellVolumeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BellPowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BellLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SleepModeMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NVRSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormatNvrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNvrCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareNvrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BellCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BellSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleVideoActivity"
            android:configChanges="orientation|keyboardHidden|smallestScreenSize|screenLayout|screenSize" />
        <activity
            android:name=".CharmMatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CharmSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceStatusHelpActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="MEARI_APPKEY"
            android:value="8a48b2105058489aba0c08b79325ef3f" />
        <meta-data
            android:name="MEARI_SECRET"
            android:value="f6c33593133c44f98372f67213568411" /> <!-- 接收访客事件服务end -->
        <!-- 专门去除通知栏的service start -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" /> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.meari.test" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.meari.test.DataProvider"
            android:exported="false" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.meari.test" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.meari.test.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.meari.test" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.meari.test" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.meari.test" />
            </intent-filter>
        </receiver> <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="你的极光appkey" /> <!-- </>值来自开发者平台取得的AppKey -->
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:priority="1000" />
    </application>

</manifest>